@use "./config" as *;
@use "./reset" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  background-color: $main-background;
  color: $text-color;
  font-family: "DM Sans", sans-serif;
  font-size: $font-size;
}

.container {
  margin: 0px auto;
  max-width: 1732px;
  padding-left: spacing(4);
  padding-right: spacing(4);
}

.section {
  padding-top: 80px;

  @include min-md {
    padding-top: 100px;
  }

  @include min-lg {
    padding-top: 120px;
  }
}

.section-title {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: to-rem(36);

    @include min-md {
      font-size: to-rem(40);
    }

    @include min-lg {
      font-size: to-rem(44);
    }
  }

  &__explore-btn {
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: to-rem(20);
    transition: color 0.2s;

    @include min-lg {
      font-size: to-rem(24);
    }

    &:hover {
      color: $primary-color;

      .section-title__explore-btn-icon {
        transform: translateX(spacing(2));
      }
    }

    &-icon {
      width: 24px;
      height: 14px;
      object-fit: contain;
      transition: transform 0.4s;

      @include min-lg {
        width: 34px;
        height: 24px;
      }
    }
  }

  &__divider {
    border-color: #cccccc;
    margin: spacing(8) 0px;

    @include min-lg {
      margin: spacing(10) 0px;
    }
  }
}
