@use "./config" as *;
@use "./reset" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  background-color: $main-background;
  color: $text-color;
  font-family: "DM Sans", sans-serif;
  font-size: $mobile-font-size;

  @include min-lg {
    font-size: $font-size;
  }
}

.container {
  margin: 0px auto;
  max-width: 1732px;
  padding-left: spacing(4);
  padding-right: spacing(4);
}

.section {
  padding-top: 80px;

  @include min-md {
    padding-top: 100px;
  }

  @include min-lg {
    padding-top: 120px;
  }
}

.section-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: to-rem(30);

  @include min-lg {
    font-size: to-rem(36);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
